{% extends 'home/base.html' %}
{% block body %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
  {% endfor %}
{% endif %}
<div class="container-fluid" id="addsplittrans">
  <a href="{% url 'managesplits' id %}"><i class="fas fa-arrow-circle-left fa-1x"></i>Manage group</a>
  <h4>Add transaction:</h4>
  <form class="" action="" method="post" id="addsplittransform">
    {% csrf_token %}
    <div class="form-group row" style="margin:0">
      <label for="purpose" class="col-form-label">Purpose</label>
      <div class="col-lg-4">
        <input type="text" name="purpose" value="" class="form-control">
      </div>
    </div>
    <div class="form-group row" style="margin:0">
        <label for="amount" class="col-form-label">Amount</label>
        <div class="col-lg-2">
          <input type="text" name="amount" value="" class="form-control" placeholder="Rs.">
        </div>
      </div>
    <div class="">
      <p>Split equally between</p>
        {% for member in members %}
        <div class="form-check form-check-inline">
          <label for="{{member.member}}" class="form-check-input">{{member.member}}</label>
          <input type="checkbox" class="form-check-label" value="{{member.member}}" name="membername">
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Add</button>

  </form>
  <h4>Transactions history:</h4>
  <table class="table table-bordered" id="splittranstable">
    <thead>
      <th>Date spent</th>
      <th>Purpose</th>
      <th>Spent by</th>
      <th>Spent for</th>
      <th>Amount</th>
      <th width="12px">Delete</th>
    </thead>
    <tbody>
      {% for splittransaction in splittransactions %}
        <tr>
          <td hidden id="splittransid">{{splittransaction.id}}</td>
          <td>{{splittransaction.datespent}}</td>
          <td>{{splittransaction.spentat}}</td>
          <td>{{splittransaction.spentby}}</td>
          <td>{{splittransaction.spentfor}}</td>
          <td>&#8377 {{splittransaction.amount}}</td>
          <td>
            {% if user == splittransaction.spentby %}
              <button id="deletemember"><i class="fas fa-times"></i></button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block script %}
<script>
    $("[id='deletemember']").on('click',function(){
        var splittransid = $(this).closest('tr').find('#splittransid').text();
        $.ajax({
          url: '{% url 'deletesplittrans' %}',
          method: 'GET',
          data: {
            'id': splittransid,
            'splitid': {{id}}
          },
          success: function(data){
            $('#splittranstable').html(data)
          }
        });
    })
</script>
{% endblock %}
