{% extends 'home/base.html' %}

{% block body %}
<div class="container-fluid" id="createsplit">
    <form action="{% url 'createsplit' %}" method="POST">
        {% csrf_token %}
        <div class="form-group col-lg-4">
            <label for="groupname">Group name</label>
            <input type="text" name="groupname" class="form-control">
        </div>
        <button type="submit" id="submitexpense" class="btn btn-outline-primary">Submit</button>
    </form>
    <hr>
    <h4>Your groups:</h4>
    <ul id="" class="list-unstyled">
        {% for group in groups %}
            <li><a href="{% url 'managesplits' group.splitid_id %}">{{group.splitid.name}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}