{% extends 'home/base.html' %}
{% block body %}
<div class="container-fluid" id="addexpense">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endfor %}
  {% endif %}
  <h4>Add expense</h4>
  <form class="" action="{% url 'addexpense' %}" method="post">
    {% csrf_token %}
    <div class="form-group col-lg-4">
      <label for="datespent">Date</label>
      <input name="datespent" value="" class="form-control" id="datepicker" autocomplete="off" placeholder="YYYY-MM-DD">
    </div>
    <div class="">
      <div class="form-group col-lg-4">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
          <option value="Food">Food</option>
          <option value="Fuel">Fuel</option>
          <option value="Shopping">Shopping</option>
          <option value="Grocery">Grocery</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="" id="otherinput">
        <p id="test"></p>
      </div>
    </div>
    <div class="form-group col-lg-4">
      <label for="spentat">Spent at</label>
      <input type="text" name="spentat" value="" class="form-control" placeholder="Ex: Fuel station name">
    </div>
    <div class="form-group col-lg-4">
      <label for="amount">Amount</label>
      <input type="text" name="amount" value="" class="form-control" placeholder="Rs.">
    </div>
    <div class="form-group col-lg-4">
      <label for="modeofpayment">Mode of Payment</label>
      <select class="form-control" name="modeofpayment" id="modeofpayment">
        <option value="Cash">Cash</option>
        <option value="Debit Card">Debit Card</option>
        <option value="Credit Card">Credit Card</option>
        <option value="Net Banking">Net Banking</option>
        <option value="E-Wallets">E-Wallets</option>
      </select>
    </div>
    <button type="submit" name="button" class="btn btn-outline-primary" id="submitexpense">Submit</button>
  </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $('#category').on('change',function(){
    var category_val = $('#category').val();
    if(category_val == 'Other') {
      $('#otherinput').html('<div class="form-group col-lg-4"><label for="category">if other, please specify:</label><input type="text" name="category" value="" class="form-control"></div>');
    }
    else {
      $('#otherinput').html();
    }
  });
  $('#datepicker').datepicker({
    uiLibrary: 'bootstrap4',
    format: 'yyyy-mm-dd'
  });
</script>
{% endblock %}
