{% extends 'home/base.html' %}
{% block body %}
{% if messages %}
  {% for message in messages %}
    {{message}}
  {% endfor %}
{% endif %}
<div class="container-fluid">
  <p>Your ledger: </p>
  <p>Your total spendings: {{totalspendings}}</p>
  <table class="table table-bordered table-hover" style="max-width: 400px">
    <thead>
      <th>Member</th>
      <th>Pay / Receive</th>
    </thead>
    <tbody>
      {% for key,value in amount.items %}
        <tr>
          <td>{{key}}</td>
          {% load mathfilters %}
          {% if value < 0 %}
            <td style="color: red">{{value|abs}}</td>
          {% else %}
            <td style="color:green">{{value}}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><span style="color:red">Red</span>: You have to pay</p>
  <p><span style="color:green">Green</span> You will receive</p>
  <hr>
  <a href="{% url 'managesplits' id %}"><i class="fas fa-arrow-circle-left fa-2x"></i>Manage group</a>
  <h4>Add transaction:</h4>
  <form class="" action="" method="post">
    {% csrf_token %}
    <div class="form-group row" style="margin:0">
      <label for="purpose" class="col-form-label">Purpose</label>
      <div class="col-lg-4">
        <input type="text" name="purpose" value="" class="form-control">
      </div>
    </div>
    <div class="form-group row" style="margin:0">
        <label for="amount" class="col-form-label">Amount</label>
        <div class="col-lg-2">
          <input type="text" name="amount" value="" class="form-control" placeholder="Rs.">
        </div>
      </div>
    <div class="">
      <p>Split equally between</p>
        {% for member in members %}
        <div class="form-check form-check-inline">
          <label for="{{member.member}}" class="form-check-input">{{member.member}}</label>
          <input type="checkbox" class="form-check-label" value="{{member.member}}" name="membername">
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success">Add</button>
    
  </form>
  <table class="table table-bordered">
    <thead>
      <th>Date spent</th>
      <th>Purpose</th>
      <th>Spent by</th>
      <th>Spent for</th>
      <th>Amount</th>
    </thead>
    <tbody>
      {% for splittransaction in splittransactions %}
        <tr>
          <td>{{splittransaction.datespent}}</td>
          <td>{{splittransaction.spentat}}</td>
          <td>{{splittransaction.spentby}}</td>
          <td>{{splittransaction.spentfor}}</td>
          <td>{{splittransaction.amount}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
