{% extends 'home/base.html' %}
{% block body %}
<div class="container-fluid" id="index">
  <h4>This month expenses:</h4>
  <table class="table table-bordered">
    <thead>
      <th>Spent at</th>
      <th>Category</th>
      <th>Date</th>
      <th>Amount</th>
    </thead>
    <tbody>
      {% for expense in expenses %}
      <tr>
        <td>{{expense.spentat}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.datespent}}</td>
        <td>{{expense.amount}}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
