{% extends 'home/base.html' %}
{% block body %}
{{id}}
{% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <p>Add members to the group:</p>
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </div>
    <button type="submit">Submit</button>
</form>
<p>Members:</p>
<ul id="members_list">
    {% for member in members %}
        <li><input type="text" value="{{member.username}}" name="member" id="member" hidden> {{member.username}} ( {{member.first_name}} {{member.last_name}} )<button id="deletemember">Delete</button></li>
    {% endfor %}
</ul>
<p><a href="{% url 'addsplittrans' id %}">Add group transaction</a></p>
{% endblock %}
{% block script %}
<script>
    $("[id='deletemember']").on('click',function(){
        var member = $(this).closest('li').find('input').val();
        $.ajax({
          url: '{% url 'deletemember' %}',
          method: 'GET',
          data: {
            'username': member,
            'splitid': {{id}},
          },
          success: function(data){
            $('#members_list').html(data);
          }
        })
    })
</script>
{% endblock %}
